/************/
/***GLOBAL***/
/************/

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

form.signals > div {
    margin: 10px 0;
}

.form-group.parameters {
    display: flex;
    justify-content: space-between;
}

    .form-group.parameters input {
        max-width: 100px;
    }

    .form-group.parameters select {
        max-width: 150px;
    }

form.signals .whiteNoise input:checked {
    background-color: red;
}

form.signals > div {
    margin: 10px 0;
}

.form-group.parameters {
    display: flex;
    justify-content: space-between;
}

    .form-group.parameters input {
        max-width: 100px;
    }

    .form-group.parameters select {
        max-width: 150px;
    }

form.signals .whiteNoise input:checked {
    background-color: red;
}

.btn-primary {
    background-color: #D71D31;
    color: #fff;
}

#analyzeModal .modal-dialog {
    max-width: 1000px !important;
}

/**************/
/***GENERATE***/
/**************/

/*Design_1*/
#generate, #analyzer {
    background-color: #000;
}

#signal-type, #delay-input, #sub-file, #file-format, #perfect-signal, #imperfect-signal, #perfect-stat, #imperfect-stat, #graph-signal
{
    background-color: #ddd;
}

.sub-parameters
{
    display: flex;
    flex-flow: wrap;
}

.sub-parameters > .form-group.parameters:nth-child(2n+1)
{
    padding-right: 90px;
}

.sub-parameters > .form-group.parameters:nth-child(2n)
{
    padding-left: 90px;
}

#sub-file .form-group.parameters
{
    width: 50%;
}

.modal-content {
    background-color: #ddd;
}

/*SnackBar*/
#delayNofy, #subNofy {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    top: 30px;
    font-size: 17px;
}

#delayNofy.show, #subNofy.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {
        top: 0;
        opacity: 0;
    }

    to {
        top: 30px;
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        top: 0;
        opacity: 0;
    }

    to {
        top: 30px;
        opacity: 1;
    }
}

@-webkit-keyframes fadeout {
    from {
        top: 30px;
        opacity: 1;
    }

    to {
        top: 0;
        opacity: 0;
    }
}

@keyframes fadeout {
    from {
        top: 30px;
        opacity: 1;
    }

    to {
        top: 0;
        opacity: 0;
    }
}

/*Design_2
#generate {
    background-image: url('./images/banner.jpg');
    background-repeat: no-repeat;
}

.header {
    background-color: #0384F0;
    color: #fff;
}

#signal-type, #delay-input, #sub-file, #file-format {
    background-color: #A8E6FF;
    border-radius: 20px;
}

#generate .btn-primary.bg-dark {
    background-color: #131FDE !important;
}
*/