/************/
/***GLOBAL***/
/************/

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

form.signals > div {
    margin: 10px 0;
}

.form-group.parameters {
    display: flex;
    justify-content: space-between;
}

    .form-group.parameters input {
        max-width: 100px;
    }

    .form-group.parameters select {
        max-width: 150px;
    }

form.signals .whiteNoise input:checked {
    background-color: red;
}

form.signals > div {
    margin: 10px 0;
}

.form-group.parameters {
    display: flex;
    justify-content: space-between;
}

    .form-group.parameters input {
        max-width: 100px;
    }

    .form-group.parameters select {
        max-width: 150px;
    }

form.signals .whiteNoise input:checked {
    background-color: red;
}

.btn-primary {
    background-color: #D71D31;
    color: #fff;
}

/**************/
/***GENERATE***/
/**************/

/*Design_1*/
#generate {
    background-color: #000;
}

#signal-type, #delay-input, #sub-file, #file-format
{
    background-color: #ddd;
}

/*Design_2
#generate {
    background-image: url('./images/banner.jpg');
    background-repeat: no-repeat;
}

.header {
    background-color: #0384F0;
    color: #fff;
}

#signal-type, #delay-input, #sub-file, #file-format {
    background-color: #A8E6FF;
    border-radius: 20px;
}

#generate .btn-primary.bg-dark {
    background-color: #131FDE !important;
}
*/